@layer reset, layout, utility, tablet;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    font-family: inherit;
  }

  html {
    color-scheme: dark light;
  }

  body {
    min-height: 100vh;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
}

@layer layout {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

@layer utility {
  .wrapper {
    width: min(100%, 900px);
    margin-inline: auto;
  }

  .rainbow-background {
    background: linear-gradient(
      45deg,
      #dc3b3e,
      #3b99dc 50%,
      #3bdc90 75%,
      rgb(255 141 0) 100%
    );
  }
}

@layer tablet {
  .tablet {
    display: flex;
    height: 90vh;
    background: rgb(94, 94, 94);
  }

  @layer screen {
    .screen {
      width: 70%;
      aspect-ratio: 1;
      height: 100%;
      background-color: grey;
      padding: 1.5rem;
    }

    .screen__painter {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      background-color: whitesmoke;
    }

    .ceil {
      flex-basis: calc(100% / var(--columns));
    }

    .square {
      border-top: 1px solid rgba(0, 0, 0, 0.7);
      border-right: 1px solid rgba(0, 0, 0, 0.7);
      transition: all 0.1s ease;
    }

    .square:hover {
      box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.5);
    }
  }

  @layer tools {
    .tools {
      width: 30%;
      background-color: darkgray;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    @layer grid {
      .grid-range {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .grid-range > label {
        display: flex;
        gap: 0.2rem;
      }
    }

    @layer colorPicker {
      .color-picker {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
